apiVersion: mobile-security-service.aerogear.com/v1alpha1
kind: MobileSecurityService
metadata:
  name: mobile-security-service
  namespace: mobile-security-service-operator
spec:
  size: 1
  # It is the image:tag used to create the mobile security service deployment
  image: "aerogear/mobile-security-service:master"
  containerName: "application"
  # The following properties will define the resources for the Mobile Security Service App deployment
  memoryLimit: "512Mi"
  memoryRequest: "512Mi"
  clusterProtocol: "http" # Options [http or https]
  # The following values will be used to create the ConfigMap with the Environment Variables
  # which will be used by thee Mobile Security Service App and Database
  databaseName: "mobile_security_service"
  databasePassword: "postgres"
  databaseUser: "postgresql"
  databaseHost: "mobile-security-service-db"
  port: 3000
  logLevel: "info"
  logFormat: "json"
  accessControlAllowOrigin: "*"
  accessControlAllowCredentials: "false"
  # The configMapName define the configMap which should be created and used in order to
  # get the values of the Env Variables created by the Mobile Security Service controller.
  # NOTE:
  #    If this ConfigMap be not found the default values defined above will be used directly instead of.
  #    If the name be not specified then it will be the Mobile Security Service instance name.
  #    The DB will looking for this ConfigMap to get the Env Values variables
  configMapName: "mobile-security-service-config"
  routeName: "service"